@page "/Scams"

<h3>Welcome to Scams 101</h3>

<p>
Here you will learn about the different types of scams and how to protect yourself from them.
    <br/>
</p>

<p>
    INFO
    <br/>
</p>
    INFO
    <br/>
<p/>

<p>
    INFO
    <br/>
</p>

<p>
    INFO
    <br/>
</p>

@code {

}
