@inherits LayoutComponentBase

<div style="background-color: #0E0E0E;">
    <div class="shadow-sm">
        <NavMenu />
    </div>

    <main class="vh-100">

        <article>
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
