@page "/home"
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer
@attribute [StreamRendering]
@inject NavigationManager NavigationManager
@inject IValhallaUow Uow
@using ValhallaVaultCyberAwareness.Components.Pages
@using ValhallaVaultCyberAwareness.Data
@using ValhallaVaultCyberAwareness.Data.Models
@using ValhallaVaultCyberAwareness.Repositories

<div>
    <h1>Hello!</h1>
</div>

<p>
    Welcome to your new Valhalla Vault Cyber Awareness Training Portal.
    <br />
    These are the different subjects you can learn about:
</p>

<SearchBox />

@if (categories != null)
{
    foreach (var category in categories)
    {
        <div>
            <h2>@category.CategoryName</h2>
            <p>Progress: @category.Segments.Count(s => s.SubCategory.All(sc => sc.IsCompleted)) / @category.Segments.Count</p>
            <button @onclick="() => NavigateToSegment(category.Id)">Start Quiz</button>
        </div>
    }

   
}

@code {
    private List<CategoryModel>? categories;
    protected override async Task OnInitializedAsync()
    {
        categories = await Uow.CategoryRepo.GetAllCategoriesWithSegmentsAndSubCategories();
    }

    private void NavigateToSegment(int categoryId)
    {
        NavigationManager.NavigateTo($"/segment/{categoryId}");
    }
}
